<div class="ui top attached secondary segment">
	<p><i class="calendar icon"></i><strong>Start Date: </strong>05/19/2015 <strong>End Date: </strong> Indefinite </p>
</div>
<div class="ui attached segment fluid" style="padding-bottom: 37px">
            	<div class="content">
                <div class="ui link" style="margin:0px 10px 10px 0px">
                	<a href="http://www.cisco.com" style="font-size: 1/25em">http://cisco.com</a>
                </div>
                    <div class="description" style="font-size: 1.25em">
                            This a project described in under 140 characters, isn't that quite interesting. I wonder what else can be created with only 140 characters?
                    </div>
				</div>
</div>