<div class="ui card fluid">
  <div class="content">
      <div class="ui two column grid">
        <div class="column">
          <div class="ui two column grid">
            <div class="column"><p>Manager: <a>Ian Tracey</a> </p></div>
            <div class="column"><p>Reports: <a>9 Reports</a> </p></div>
            <div class="column"><p>Department ID: <strong>1007473</strong> </p></div>
            <div class="column"><p>Type: <strong>$person.status</strong> </p></div>
            <div class="sixteen wide column"><p>Timezone: <strong>Monday, Jul 13th 11:13 UTC-7</strong> </p></div>

          </div>

        </div>
        <div class="column">
          <div class="ui one column grid" id="address">
            <div class="column"><a>SJ-08 2nd Floor</a></div>
            <div class="column">3750 Zanker Road</div>
            <div class="column">San Jose, CA 95134</div>
            <div class="column">United States</div>
        </div>
      </div>
  	 <br />
      <div style="padding-top:10px">
	      <div class="ui label">Rails</div>
	      <div class="ui label">Web APIs</div>
	      <div class="ui label">Javascript</div>
	      <div class="ui label">Ruby</div>
	      <div class="ui label">Test Driven Development</div>
	      <div class="ui label">Java</div>
  	  </div>
  </div>
</div>