<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        <i class="star icon"></i>Favorites
    </div>
    <div class="content">
        <div class="ui four column grid">
            #foreach($favorite in $favorites)
                <div class="column">
                    <img class="ui avatar image" src="/images/$favorite.photo"> <i class="call icon large"></i><i class="mail icon large"></i>
                    <div class="content">
                        <a href="/people/profile/$favorite.userId" class="header" style="font-size: 1.25em">$favorite.firstName $favorite.lastName</a>
                    </div>
                </div>
            #end


        </div>
    </div>
    <div class="actions">
        <div class="ui black button">
            Close
        </div>

    </div>
</div>