#if($p.country == "United States")
<span><i class="us flag"></i><div class="tiny ui label">
    <small>SJ</small>
</div></span></a>
#elseif($p.country == "India")
<span><i class="india flag"></i></span></a>
#elseif($p.country == "China")
<span><i class="china flag"></i></span></a>
#elseif($p.country == "United Kingdom")
<span><i class="gb flag"></i></span></a>
#else
<span><i class="ban icon"></i></span></a>
#end